
:root {
  --night-rider: #221510;
};

.night-rider { color: var(--night-rider); }
.bg-night-rider { background-color: var(--night-rider); }

.bg-image--page-1 {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.3) 30%, rgba(0,0,0,0)), url("img/central-aus.jpg");
  background-size: cover;
  background-position: center, 10% center;
}

@media (--breakpoint-not-small) {
  .bg-image--page-1 {
    background-position: 10% center;
  }
}

@media (--breakpoint-medium) {
  .bg-image--page-1 {
    background-position: 5% center;
  }
}

@media (--breakpoint-large) {
  .bg-image--page-1 {
    background-position: 0% center;
  }
}

.ic {
  display: block;
  width: 32px;
  height: 32px;
}

.ic img {
  object-fit: fill;
}
